$theme-colors: (
  "primary": #005dab
  // "danger": #b80c03
);

$border-radius: 12px;

@import "node_modules/bootstrap/scss/bootstrap";
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

// @import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/utilities";
// @import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/buttons";
// @import "node_modules/bootstrap/scss/forms";

@font-face {
  font-family: DIN;
  src: url("./fonts/din/regular/din_regular.ttf");
}

body {
  font-family: DIN;
}

.text-line {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #cccccc; 
  line-height: 0.1em;
} 

.text-line span { 
  background:#fff; 
  padding:0 50px; 
}

.town {
  background-image: url(./img/kv.png);
  background-size: cover;
  position: relative;
  bottom: 30px;
}

.city-bg {
  background: url(./img/kv_mobile.png);
  background-size: cover; 
  background-repeat: no-repeat;
  height: 334px;
  z-index: -1;
}        

.p-absolute {
  position: absolute !important;
  bottom: 29px;
}

.p-relative {
  position: relative !important;
}

.red-button {
  width: 280px;
}

.red-bg {
  background-color: #f54236;
}

.right-radius {
 border-radius:  0 12px 12px 0 !important;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #005dab;
}

@media (min-width: 416px) {
  .city-bg {
    background: url(./img/kv.png);
  }
  .mb-110 {
    margin-bottom: 110px;
  }
}